body {
    background-image: url('./background.JPEG');
    height: 100vh;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    
}

img {
   
    height: 610px;
    width: 570px;
    overflow: auto;
    margin: 1px 350px;
    margin-top: 40px;
   
overflow: auto;


 }

h1{

    margin: -490px 549px;
    font-size: 320%;
    text-shadow:2px 10px 12px;
  color:  rgb(0, 0, 0);
  font-family: 'cursive' ;
 
  
  
   text-decoration: underline;

}
p{


       font-size: x-large;

       padding: 182px 540px;
      
       text-align: center;
       margin-top: 330px;
       margin-left: -15px;
       font-weight: bolder;
   }
    